@import "../../styles/variables.scss";

.button {
  background-color: transparent;
  width: auto;
  height: auto;
  padding: 15px 42px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  border-radius: 0;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
  }

  &.fullWidth {
    width: 100%;
  }

  &.primary {
    background-color: $dark-blue;
    color: white;

    &:disabled {
      background-color: $silver;
      cursor: not-allowed;
    }
  }

  &.primaryOutlined {
    border: 2px solid $dark-blue;
    color: $dark-blue;
  }

  &.secondary {
    background-color: $gold;
    color: white;
  }

  &.secondaryOutlined {
    border: 2px solid $gold;
    color: $gold;
  }

  &.tertiaryOutlined {
    border: 2px solid white;
    color: white;
  }

  &.tertiary {
    background-color: white;
    color: $dark-blue;
  }
}
