@import "../../styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  padding: 0px 0 104px;
  max-width: 1410px;
  width: 100%;
  gap: 34px;

  .title {
    color: $blue;
    font-size: 40px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .newsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    @media only screen and (min-width: 765px) {
      flex-direction: row;
      gap: 24px;
      align-items: flex-start;

      .card:nth-child(3) {
        display: none;
      }
    }

    @media only screen and (min-width: 1024px) {
      .card:nth-child(3) {
        display: flex;
      }
    }
  }
}
