@import "../../styles//variables.scss";

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    // padding: 164px 94px;
    position: relative;
    height: 623px;

    .quoteContainer {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 65%;
        background-color: $beige;
        height: 110%;
        border-radius: 28% 15% 51% 49% / 0% 0% 100% 0%;
        justify-content: center;
        align-items: center;

        .quote {
            font-size: 40px;
            font-weight: 700;
            line-height: 50px;
            letter-spacing: 0.02em;
            text-align: left;
            color: $blue;
            max-width: 576px;
        }
    }

}