@import '../../styles/variables.scss';

.container {
    width: 100%;
    display: flex;
    height: 652px;
    justify-content: center;
    padding: 0 94px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .contentContainer {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        max-width: 1440px;

        .callContainer {
            width: 70%;
            padding: 35px 30px 35px 30px;
            gap: 26px;
            background-color: $beige;
            display: flex;
            flex-direction: column;

            .title {
                font-size: 24px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0.02em;
                text-align: left;
                color: $blue;
            }

            .subtitle {
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.02em;
                text-align: left;
                color: $blue;
            }

            .inputContainer {
                width: 100%;
                display: flex;
                justify-content: space-between;
                gap: 32px;
            }
        }
    }
}