@import "../../styles/variables.scss";

.richtext {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 1410px;
  margin: 71px 0 80px 0;

  h1 {
    font-size: 35px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0.02em;
    text-align: left;
    color: $blue;
  }

  h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0.02em;
    text-align: left;
    color: $blue;
    margin-bottom: 10px;
  }

  img {
    width: 100%;
    object-fit: cover;
    height: 300px;

    @media only screen and (min-width: 465px) {
      height: 440px;
    }

    @media only screen and (min-width: 850px) {
      height: 582px;
    }
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: $blue;

    @media only screen and (min-width: 465px) {
      line-height: 27px;
      font-size: 18px;
    }
  }

  b {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: $blue;
    @media only screen and (min-width: 465px) {
      line-height: 27px;
      font-size: 18px;
    }
  }

  em {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: $blue;
    font-style: italic;
    @media only screen and (min-width: 465px) {
      line-height: 27px;
      font-size: 18px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.02em;
      text-align: left;
      color: $blue;
      list-style: circle;
      margin-left: 20px;
      @media only screen and (min-width: 465px) {
        line-height: 27px;
        font-size: 18px;
      }
    }
  }

  ol {
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.02em;
      text-align: left;
      list-style: decimal;
      color: $blue;
      margin-left: 20px;
      @media only screen and (min-width: 465px) {
        line-height: 27px;
        font-size: 18px;
      }
    }
  }
}
